{{#if timetableMode}}
  <td>
    <input type="checkbox" class="js-nm-friends-select-checkbox" {{#if selected}}checked{{/if}}>
  </td>
{{/if}}
<td class="{{#if timetableMode}}js-nm-friends-name{{/if}} nm-friends-name">
  <h5 class="media-heading">
    {{name}}
  </h5>
</td>
{{#unless timetableMode}}  
  <td>{{faculty}}</td>
  <td>{{firstMajor}}</td>
  <td><a href="mailto:{{email}}">{{email}}</a></td>
  <td>
    <a class="btn btn-danger btn-sm js-nm-friends-unfriend">
      <i class="fa fa-lg fa-times"></i> Unfriend
    </a>
  </td>
{{/unless}}
