<div class="nm-module-projects-gallery-item">
  <a href="/modules/{{modCode}}/projects/{{slug}}">
    <img src="{{thumbnail}}" class="img-responsive">
    <h5 class="nm-module-project-title">{{title}}</h5>
  </a>
  {{#if members}}
    <small class="nm-module-project-team">By {{#each members}} {{this}}{{#unless @last}},{{/unless}} {{/each}}</small>
  {{/if}}
</div>
